*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
.header nav.navbar.navbar-expand-lg {
    background-color: #3D5A80;
    padding: 15px;
}
.header .logo h1
{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.header a.nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.header li.nav-item {
    padding: 5px 20px;
}
.get_touch a {
    color: #fff;
    text-decoration: none;
    background-color: #EE6C4D;
    border-radius: 5px;
    padding: 12px 46px;
    /* width: 187px;
    height: 48px; */
    font-size: 16px;
    line-height: 24px;
    /* width: 100%; */
}
.get_touch a:hover
{
    background-color: #293241;
}
.banner_section
{
    background-color: #3D5A80;
    padding: 3rem 0;
}
.banner_section h1
{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.banner_section span
{
    color: #EE6C4D;
}
.banner_section p
{
    color: #fff;
    font-size: 18px;
    padding: 20px 0;
}
.banner_image
{
    width: 315px;
    height: 474px;
    position: relative;
    z-index: 5;
}
.banner_image img
{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about_us
{
    padding: 3rem 0;
    background-color: #293241;
}
.about_content h1 {
    color: #fff;
    font-size: 28px;
    /* border-bottom: 3px solid #EE6C4D; */
    padding: 15px 0;
}
.about_content p
{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    /* padding:10px 0; */
}
.about_image
{
    /* width: 371px; */
    height: 308px;
    /* position: relative; */
}
.about_content img
{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.companies_work
{
    background-color: #2F3746;
    padding: 3rem 0;
}
.companies_section
{
    color: #fff;
    text-align: center;
    font-weight: 400;
    /* border-bottom: 3px solid #EE6C4D; */
    padding: 15px 0;
}

.recent_works
{
    padding: 3rem 0;
    background-color: #293241;
}
.recent
{
    text-align: left;
}
.see_more a
{
    color: #fff;
    text-decoration: none;
    /* background-color: #EE6C4D; */
    border: 1px solid #EE6C4D;
    border-radius: 5px;
    padding: 12px 56px;
    /* width: 187px;
    height: 48px; */
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    font-weight: bold;
}
.see_more
{
    text-align: center;
}

.see_more a:hover
{
    background-color: #EE6C4D;
}
.testimonials
{
    padding: 3rem 0;
    background-color: #2F3746;
}
.testimonials_content {
    background-color: #1A1E26;
    padding: 20px;
    color: #fff;
    border-radius: 3px;
}
.testimonials_content h2
{
    font-size: 18px;
    font-weight: 100;
}
.testimonials h4
{
    color: #C5C5C5;
    font-size: 14px;
}
.testimonials p
{
    font-size: 16px;
    padding: 10px 0;
}
.contact_form
{
    padding: 3rem 0;
    background-color: #3D5A80;
}
footer
{
    background-color: #293241;
    padding: 3rem 0;
}
footer .logo h1
{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
 footer h4 {
    font-size: 16px;
    color: #fff;
    font-weight: 100;
}
footer p {
    font-size: 18px;
    color: #fff;
    font-weight: 100;
}
.copyright span {
    background-color: #191F28;
    border-radius: 50%;
    padding: 13px;
    text-align: center;
    color: #fff;
}
i.fa-brands.fa-facebook-f {
    width: 32px;
    height: 32px;
}

hr
{
    background-color: #EE6C4D !important;
    height: 5px !important;
    width: 157px;
    opacity: 1 !important;
}
.companies_section hr
{
    background-color: #EE6C4D !important;
    height: 5px !important;
    width: 157px;
    opacity: 1 !important;  
   margin: auto !important;
}
.companies_section hr
{
    margin: left !important;
}

.about_image::before {
    content: "";
    width: 273px;
    height: 273px;
    border-radius: 50%;
    background-color: #364B69;
    position: absolute;
    top: 110px;
    left: 59%;
    opacity: 37%;
}


.carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
  }
  .owl-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
  }

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
      background: #2caae1;
  }


  .owl-carousel .item {
      text-align: center;
  }
  .owl-carousel .nav-btn{
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 100px !important;
  }

  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
  }

  .owl-carousel .prev-slide{
      background: url(nav-icon.png) no-repeat scroll 0 0;
      left: -33px;
  }
  .owl-carousel .next-slide{
      background: url(nav-icon.png) no-repeat scroll -24px 0px;
      right: -33px;
  }
  .owl-carousel .prev-slide:hover{
     background-position: 0px -53px;
  }
  .owl-carousel .next-slide:hover{
    background-position: -24px -53px;
  }

  span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
  }
  span.img-text:hover {
    color: #2caae1;
  }